* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    background: rgb(76, 74, 88);
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    line-height: 24px;
    padding: 50px;
}

.container {
    margin: 0 auto;
    max-width: 300px;
}

.header {
    line-height: 14px;
    margin: 0 0 20px 0;
}

.header__title {
    font-size: 22px;
    margin: 0 0 10px 0;
}

.header__body {
    font-size: 11px;
}

.content {}

input {
    height: 50px;
    width: 300px;
    border: 1px solid white;
    border-radius: 50px;
    background: rgb(76, 74, 88);
    text-align: center;
}

button {
    height: 50px;
    width: 300px;
    border: 1px solid rgb(62, 165, 62);
    background: rgb(62, 165, 62);
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.name {
    margin: 10px 0 0 0;
}

.email {
    margin: 10px 0 0 0;
}

.number {
    margin: 10px 0 0 0;
}

.link {
    margin: 10px 0 0 0;
}

form div:first-child input:focus {
    border: 1px solid rgb(62, 165, 62);
}

::placeholder {
    color: white;
}